@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap");

.calendar-text {
  font-family: "Dosis", sans-serif;
  font-size: 24px;
  color: black;
  text-decoration: none;
  margin: 0;
}

.calendar-link {
  text-decoration: none;
}
