@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
.whole-page{
  font-family: 'Dosis', sans-serif;

}
.arrow {
  float: left;
  margin-left: 15px;
  padding-top: 1px;
  cursor: pointer;
}

.accountUsername, .accountPassword, .accountName {
  border: 2px solid black;
  width: 360px;
  height: 30px;
  border-radius: 22px;
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom: -10px;
}

.headline {
  padding-top: 3px;
  padding-right: 45px;
}

.subHeader {
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  background-color: #AEBCE6;
  background-image: linear-gradient(#dddfe6, #AEBCE6);
  height: 30px;
  width: 100%;
  text-align: center;
}

.accountInfo{
  font-family: 'Dosis', sans-serif;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  margin-top: 40px;
}

.accountImage {
  margin-top: 30px;
  margin-bottom: -10px;
}

.delete-account, .username, .password, .logout{
  font-family: 'Dosis', sans-serif;
  padding: 1rem; 
  border-radius: 30px;
  border: 2px solid;
  background-color: white;
  font-family: 'Dosis', sans-serif;
  width: 300px;
  height: 6px;
  color: black;
  text-align: center;
}

.delete-account, .logout {
  transition: all .3s ease-in-out;
}

.delete-account:hover, .logout:hover {
  background-color: #D6DDF3;
  transform: scale(1.1);
}

.logout {
  height: 60px;
  font-size: 18px;
  font-weight: 500;
  margin-top: 80px;
  cursor: pointer;
  outline: none;
}

.delete-account{
  height: 60px;
  font-size: 18px;
  font-weight: 500;
  color: red;
  margin-top: 20px;
  cursor: pointer;
  outline: none;
}
