@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

.arrow {
    float: left;
    margin-left: 15px;
    padding-top: 1px;
    cursor: pointer;
}

.status {
  font-family: 'Dosis', sans-serif;
  display: flex;
  margin-top: 10vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 400px;
  /* background-color: teal; */
}

.logo-background {
  display: flex;
  color: black;
  background-image: url(../../Assets/DesktopTrackYourVoteBackground.png);
  width: 100%;
  top: 50%;
  height: 280px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.text-status {
  align-self: center;
  margin-left: 5%;
}

.vote-date {
  padding: 10px;
  border: 1px solid red;
  border-radius: 25px;
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
}

.headline {
    padding-top: 3px;
    padding-right: 45px;
}

.subHeader {
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    background-color: #AEBCE6;
    background-image: linear-gradient(#dddfe6, #AEBCE6);
    height: 30px;
    width: 100%;
    text-align: center;
}

.notifications-text {
  padding: 10px;
  background-color: #d6ddf3;
  border-radius: 25px;
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
}

.ballot-status {
  display: flex;
  flex-flow: wrap;
  white-space: pre;
  margin-top: 40px;
  margin-left: 40px;
}

.ballot-p {
  display: grid;
  padding-left: 10px;
}

.ballot-text {
  padding-left: 20px;
  margin: 0 auto;
}


.progress-bar{
  margin: 0 auto;
  padding-top: 150px;
}

.lilguy{
  width: 100px;
  height: 100px;
  padding-right: 305px;
  margin-top: 140px;
  position: relative;
  animation: mymove 15s ease-in 2s normal forwards;
}

@keyframes mymove {

  20% {transform: translate(65px)}
  40% {transform: translate(145px)}
  60% {transform: translate(220px)}
  80% {transform: translate(300px)}
  100% {transform: translate(365px)}
  
}