.progress-div {
  background-color: transparent;
  border-radius: .5rem;
  width: 400px;
  position: relative;
  height: 20px;
  border: 1px solid black;
  margin: 0 auto;

}

.progress {
  background: linear-gradient(45deg, #5C0D10, #CB3135);
  height: 20px;
  border-radius: .5rem;
  transition: 1s;
  max-width: 400px;
}

