@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

.arrow {
  float: left;
  margin-left: 15px;
  padding-top: 1px;
  cursor: pointer;
}

.ballot-screen{
font-family: 'Dosis', sans-serif;
position: fixed;
background-image: url('../../Assets/RegistrationConfirmationBackground.png');
z-index: -1;
background-size: cover;
height: 100%;
width: 100%;
background-repeat: no-repeat;
}

.confirm-container{
  margin: auto;
  width: 280px;
  height: 260px;
  margin-top: 200px;
  padding-top: 50px;
  background-color: white;
  border-radius: 20px;
  border: 2px solid black;
}

.ribbon{
  width: 45%;
  margin-left: 20px;
}

.home-button{
  text-align: match-parent;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  height: 55px;
  margin-top: 80px;
  cursor: pointer;
  width: 260px;
  border-radius: 30px;
  font-weight: bold;
  background-color: white;
  border: 1px solid black;
}

.edit-button {
  text-align: match-parent;
  font-size: 13px;
  height: 40px;
  margin-top: 20px;
  cursor: pointer;
  width: 230px;
  border-radius: 18px;
  font-weight: bold;
  background-color: white;
  text-decoration: none;
  color: black;
}

.home-button a{
  text-decoration: none;
  color: black;
}

.headline {
  padding-top: 3px;
  padding-right: 15px;
}

.subHeader {
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  background-color: #AEBCE6;
  background-image: linear-gradient(#dddfe6, #AEBCE6);
  margin-top: 100px;
  height: 30px;
  width: 100%;
  text-align: center;
}

.text {
  padding: 10px;
}

/* Media query for large devices (laptops/desktops) */
@media screen and (min-width: 900px){
  .ballot-screen{
    background-image: url('../../Assets/DesktopBallotRequestSubmitted.png')
  }
}