@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

nav {
    position: fixed;
    z-index: 1;
    top: 0px;
    flex: 1;
    background-color: #061540;
    width: 100%;
  }

.header {
    display: flex;
    padding: 20px 0;
    max-width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.burger {
    margin: 20px;
    cursor: pointer;
}

.ballotIcon {
    margin-top: 8px;
    margin-right: 17px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

.ballotIcon:hover {
    animation-name: bouncy-bouncy;
}

.logo {
    margin-top: -5px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

.logo:hover {
    animation-name: bouncy-bouncy;
}

.svg {
    filter: brightness(0) invert(1);
}

.hamburgerDropDown {
    position: fixed;
    left: 0px;
    top: 84px;
    width: 100%;
    height: 250px;
    background-color:white;
}
  
ul.hamburgerDropDown {
    padding: 0px;
    list-style-type: none;
    animation: dropDown 250ms ease-out;
    transform-origin: top center
}
  
.navbar div {
    position: relative;
    display: inline-block;
}

.linky {
    font-family: 'Dosis', sans-serif;
}

.nav-link {
    font-size: 24px;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 84px;
    background-color: rgb(248, 248, 248);
  }

#nav2 {
    background-color: rgba(0, 0, 0, 0.048);
}

#nav2:hover {
    background-color:#DDE3F5;
}

.nav-link:hover {
    background-color:#DDE3F5;
}

@keyframes dropDown {
    0% {
      transform: scaleY(0);
      -webkit-transform: scaleY(0);
      -moz-transform: scaleY(0);
    }
    100% {
      -webkit-transform: scaleY(1);
      -moz-transform: scaleY(1);
      transform: scaleY(1);
    }
}

@keyframes bouncy-bouncy {
	0% {
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      transform: translateY(0px);
    }
    50% {
      -webkit-transform: translateY(-6px);
      -moz-transform: translateY(-6px);
      transform: translateY(-6px);
    }
    100% {
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      transform: translateY(0px);
    }   
}


  